@tailwind base;
@tailwind components;
@tailwind utilities;

/* mobile-specific styles */
@layer base {
  body {
    @apply bg-gray-200 flex flex-col min-h-screen;
  }
  h1 {
    @apply text-2xl font-sans font-bold;
  }
  h2 {
    @apply text-xl font-mono;
  }
  h3 {
    @apply text-base font-mono;
  }
  p {
    @apply text-sm;
  }
  a {
    @apply text-lg;
  }
  footer {
    @apply flex h-auto justify-center bg-white;
  }
}

/*   margin-top: auto; 

md:h-19 md:flex-row md:justify-between

*/

/* Desktop-specific styles */
@media (min-width: 1024px) {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl font-mono;
  }
  p {
    @apply text-base;
  }
  a {
    @apply text-2xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
