@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global specific styles following accessibility guidelines */
@layer base {
  body {
    @apply bg-gray-200 flex flex-col min-h-screen;
  }
  header {
    @apply flex flex-col sticky top-0 w-full bg-[#343434] md:h-16 md:flex-row md:justify-between;
  }

  h1 {
    @apply text-2xl font-sans font-bold md:text-4xl;
  }
  h2 {
    @apply text-xl font-mono md:text-3xl;
  }
  h3 {
    @apply text-base font-mono md:text-2xl;
  }
  p {
    @apply text-sm md:text-base;
  }
  a {
    @apply text-lg md:text-2xl;
  }
  footer {
    @apply flex h-auto justify-center bg-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
TODO:Research
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
